@font-face {
    font-family: Overpass;
    font-weight: 400;
    src: url('../fonts/Overpass-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Overpass;
    font-weight: 600;
    src: url('../fonts/Overpass-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: OpenSans;
    font-weight: 400;
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: OpenSans;
    font-weight: 600;
    src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: OpenSans;
    font-weight: 800;
    src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
}

/* Main screen setting*/

.header {
    -fx-background-color: #EA3B6D;
}

.user {
    -fx-font-family: 'OpenSans';
    -fx-font-weight: 800;
    -fx-font-size: 16;
    -fx-text-fill: #FFFFFF;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
    /*-fx-text-fill: #FFC6D6;*/
}

.mainButton {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;

    -fx-font-family: 'OpenSans';
    -fx-font-weight: 400;
    -fx-font-size: 12;
    -fx-text-fill: #000000;
    /*-fx-text-fill: #FFC6D6;*/

    /*-fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0, 2, 4);*/
}

.mainButton:hover {
    -fx-background-color: #FC5685;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: 800;

}

.addButton {
    -fx-pref-width: 48.0;
    -fx-pref-height: 48.0;
    -fx-background-color: #EA3B6D;
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    /*-fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0, 2, 4);*/
}

.addButton:hover {
    -fx-background-color: #FC5685;
}

/* Sign screens setting */

.leftPane {
    -fx-background-color: #EA3B6D;
    -fx-min-width: 512;
    /*-fx-border-radius: 0 0 0 8;*/
    /*-fx-background-radius: 0 0 0 8;*/
}

.rightPane {
    -fx-background-color: #FFFFFF;
    -fx-min-width: 512;
    /*-fx-border-radius: 0 0 8 0;*/
    /*-fx-background-radius: 0 0 8 0;*/
}

.form {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #BABABA;
    -fx-border-width: 1;

    /* Font settings*/
    -fx-font-family: 'Overpass';
    -fx-font-size: 16;
}

.signInButton {
    -fx-background-color: #EA3B6D;
    -fx-background-radius: 100;

    -fx-font-family: 'Overpass SemiBold';
    -fx-font-size: 16;
    -fx-text-fill: #FFFFFF;
}

.signInButton:hover {
    -fx-background-color: #FC5685;
}

.removeButton {
    -fx-background-color: #BABABA;
    -fx-background-radius: 100;

    -fx-font-family: 'Overpass SemiBold';
    -fx-font-size: 16;
    -fx-text-fill: #FFFFFF;
}

.removeButton:hover {
    -fx-background-color: #EA3B6D;
}

.signUpText {
    -fx-font-family: 'Overpass';
    -fx-font-size: 16;
}

.signLink {
    -fx-font-family: 'Overpass SemiBold';
    -fx-font-size: 16;
}

.signLink:hover {
    -fx-cursor: hand;
}

.incorrect {
    -fx-text-fill: #EA3B6D;
    -fx-font-family: 'Overpass SemiBold';
    -fx-font-size: 16;
    -fx-background-color: #FF93B0;
    -fx-border-color: #EA3B6D;
    -fx-border-width: 2;
    -fx-padding: 2;
    -fx-opacity: 0;
}

.title {
    -fx-font-family: 'Overpass SemiBold';
    -fx-font-size: 24;
}

.mainTitle {
    -fx-font-family: 'Overpass SemiBold';
    -fx-font-size: 36;
    -fx-text-fill: #FFFFFF;
}

.signUpButton {
    -fx-background-color: #EA3B6D;
    -fx-background-radius: 100;

    -fx-font-family: 'Overpass SemiBold';
    -fx-font-size: 16;
    -fx-text-fill: #FFFFFF;
}

.signUpButton:hover {
    -fx-background-color: #FC5685;
}

.frameButton:hover * {
    -fx-opacity: 1;
}


/* Table setting */
.tableHeader {
    -fx-font-family: 'OpenSans';
    -fx-font-weight: 400;
    -fx-font-size: 12;

    -fx-pref-height: 64.0;
    -fx-background-color: #FFFFFF;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #EA3B6D;

    -fx-alignment: CENTER;
}

.table {
    -fx-border-color: #FFFFFF;
    -fx-background-insets: 0 0 0 0;
}

.table .corner {
    -fx-background-color: transparent;
}

.table .column-header-background {
    -fx-background-color: #FFFFFF;
}

.table .table-cell {
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:hover {
    -fx-text-background-color: #FF93B0;
    -fx-cursor: hand;
}

.table-row-cell {
    -fx-pref-height: 64.0;
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0, 0 0 20 0;
    -fx-padding: 0; /* 0 */
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #EA3B6D;
}

.table-row-cell:empty {
    -fx-pref-height: 64.0;
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0, 0 0 8 0;
    -fx-padding: 0; /* 0 */
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #FFFFFF;
    -fx-cursor: default;
}

.table .column-header-background .filler {
    -fx-background-color: #FFFFFF;
    -fx-padding: 1em;
}

.table-row-cell:filled:selected {
    -fx-background: -fx-control-inner-background;
    -fx-background-color: -fx-table-cell-border-color, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
}

.table-row-cell:odd:filled:selected {
    -fx-background: -fx-control-inner-background-alt;
}

.background {
    -fx-background-color: #000000;
    -fx-opacity: 0.25;
}

.table .scroll-bar:horizontal > .increment-button,
.table .scroll-bar:horizontal > .decrement-button {
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table .scroll-bar:vertical > .increment-button,
.table .scroll-bar:vertical > .decrement-button {
    -fx-opacity: 0;
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table .scroll-bar {
    -fx-background-color: white;
}

.table .scroll-bar .thumb {
    -fx-background-color: #FF93B0;
    -fx-background-radius: 100;
    -fx-pref-width: 0.1;
    -fx-padding: 10;
}

.table *.scroll-bar:horizontal *.increment-button,
.table *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table *.scroll-bar:horizontal *.increment-arrow,
.table *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

/* Adding */
.secondTitle {
    -fx-font-family: 'Overpass SemiBold';
    -fx-font-size: 16;
    -fx-text-fill: #FFFFFF;
    -fx-alignment: CENTER;
}

.datepicker {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #BABABA;
    -fx-border-width: 0;

    /* Font settings*/
    -fx-font-family: 'Overpass';
    -fx-font-size: 16;
}

.datepicker:focused {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #BABABA;
    -fx-border-width: 0;
}

.datepicker:editable > .arrow-button > * {
    -fx-opacity: 0; /* Set the node in the button to be visible */
}

.datepicker > .arrow-button {
    -fx-background-image: url("../icons/calendar.png"); /* Url of the icon */
    -fx-background-size: 100% 75%; /* Can be `cover` or `100% 100%` ect. */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center; /* Put the icon in the center */
    -fx-background-color: #FFFFFF;
    -fx-border-color: #BABABA;
    -fx-border-width: 1 1 1 0;
}

.combo-box-base:editable > .text-field,
.datepicker > .text-field {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #BABABA;
}

.choicebox {
    -fx-mark-color: #EA3B6D;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #BABABA;
    -fx-border-width: 1;

    /* Font settings*/
    -fx-font-family: 'Overpass';
    -fx-font-size: 16;
}

.choicebox .list-view .list-cell
{
    -fx-font-family: 'OpenSans';
    -fx-font-weight: 400;
    -fx-font-size: 16;
}

.choicebox .list-view .list-cell:hover {
    -fx-background-color: #EA3B6D;
}

.choicebox .list-view .list-cell:selected {
    -fx-background-color: #EA3B6D;
}

/* Header windows*/

.headerWindow {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #FC5685;
    -fx-border-width: 3;
    -fx-border-radius: 6;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 15, 0, 2, 4)
}

.radioButton {
    -fx-font-family: 'Overpass';
    -fx-text-fill: #000000;
    -fx-font-size: 12;
    -fx-rotate: 180;
}

.radioButton > .text {
    -fx-rotate: 180;
    -fx-text-alignment: LEFT;
}

.applyButton {
    -fx-background-color: #EA3B6D;
    -fx-background-radius: 100;

    -fx-font-family: 'Overpass SemiBold';
    -fx-font-size: 12;
    -fx-text-fill: #FFFFFF;
}

.applyButton:hover {
    -fx-background-color: #FC5685;
}

.circleButton {
    -fx-background-color: #EA3B6D;
    -fx-background-radius: 100;
    /*-fx-graphic: url(../icons/addWhite.png);*/
}

.circleButton:hover {
    -fx-background-color: #FC5685;
    /*-fx-graphic: url(../icons/addWhite.png);*/
}

.simpleText {
    -fx-font-size: 12;
    -fx-font-family: 'OpenSans';
    -fx-font-weight: 400;
    /*-fx-text-alignment: CENTER;*/
    -fx-alignment: CENTER;
}

.scrollPane .main-header {
    -fx-background-color: BLUE;
    -fx-pref-height: 0;
    -fx-min-width: 0;
    -fx-max-width: 0;
    -fx-pref-width: 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
    -fx-tab-max-height: 0;
    -fx-tab-max-width: 0;
    -fx-tab-min-height: 0;
    -fx-tab-min-width: 0;
    -fx-background-color: transparent;
}

.scrollPane .condensed-header{
    -fx-background-color: RED;
    -fx-pref-height: 0;
    -fx-min-width: 0;
    -fx-max-width: 0;
    -fx-pref-width: 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
    -fx-tab-max-height: 0;
    -fx-tab-max-width: 0;
    -fx-tab-min-height: 0;
    -fx-tab-min-width: 0;
    -fx-background-color: transparent;
}

.scrollPane * {
    -fx-background-color: transparent;
}

.scrollPane .scroll-bar:horizontal > .increment-button,
.scrollPane .scroll-bar:horizontal > .decrement-button {
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scrollPane .scroll-bar:vertical > .increment-button,
.scrollPane .scroll-bar:vertical > .decrement-button {
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scrollPane .scroll-bar {
    -fx-background-color: white;
}

.scrollPane .scroll-bar .thumb {
    -fx-background-color: #FF93B0;
    -fx-background-radius: 100;
    -fx-pref-width: 0.1;
    -fx-padding: 10;
}

/*.scrollPane *.scroll-bar:horizontal *.increment-button,*/
/*.scrollPane *.scroll-bar:horizontal *.decrement-button {*/
/*    -fx-background-color: null;*/
/*    -fx-background-radius: 0;*/
/*    -fx-background-insets: 0;*/
/*    -fx-padding: 0;*/
/*}*/

/*.scrollPane *.scroll-bar:horizontal *.increment-arrow,*/
/*.scrollPane *.scroll-bar:horizontal *.decrement-arrow {*/
/*    -fx-background-color: null;*/
/*    -fx-background-radius: 0;*/
/*    -fx-background-insets: 0;*/
/*    -fx-padding: 0;*/
/*    -fx-shape: null;*/
/*}*/

/*.coordinate-grid {*/
/*    fx-background-color: #FF93B0,*/
/*    linear-gradient(from 0.5px 0.0px to 10.5px  0.0px, repeat, black 5%, transparent 5%),*/
/*    linear-gradient(from 0.0px 0.5px to  0.0px 10.5px, repeat, black 5%, transparent 5%);*/
/*}*/