@font-face {
	font-family: OpenSans;
	font-weight: 400;
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: OpenSans;
	font-weight: 600;
	src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: Overpass;
	font-weight: 400;
	src: url('../fonts/Overpass-Regular.ttf') format('truetype');
}

@font-face {
	font-family: Overpass;
	font-weight: 600;
	src: url('../fonts/Overpass-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: OpenSans;
	font-weight: 800;
	src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
}

.filter-dialog {
	-fx-background-color: #FFFFFF;
	-fx-border-color: #FC5685;
	-fx-border-width: 3;
	-fx-border-radius: 6;
	-fx-background-radius: 10;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 15, 0, 2, 4)
}

.applyButton {
	-fx-background-color: #EA3B6D;
	-fx-background-radius: 100;

	-fx-font-family: 'Overpass SemiBold';
	-fx-font-size: 12;
	-fx-text-fill: #FFFFFF;
}

.applyButton:hover {
	-fx-background-color: #FC5685;
}

.form {
	-fx-background-color: #FFFFFF;
	-fx-border-color: #BABABA;
	-fx-border-width: 1;

	/* Font settings*/
	-fx-font-family: 'OpenSans';
	-fx-font-size: 12;
}



.table {
	-fx-border-color: #BABABA;
	-fx-background-insets: 0 0 0 0;
}

.table .corner {
	-fx-background-color: transparent;
}

.table .column-header-background {
	-fx-background-color: #FFFFFF;
}

.table .list-cell {
	-fx-border-color: transparent;
	-fx-padding: 2 0 2 10px;
}


.list-cell {
	-fx-pref-height: 24.0;
	-fx-background-color: #FFFFFF;
	-fx-background-insets: 0, 0 0 2 0;
	-fx-padding: 0; /* 0 */
	-fx-border-width: 2;
	-fx-border-color: #EA3B6D;
}

.list-cell:empty {
	-fx-pref-height: 24.0;
	-fx-background-color: #FFFFFF;
	-fx-background-insets: 0, 0 0 8 0;
	-fx-padding: 0; /* 0 */
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #FFFFFF;
	-fx-cursor: default;
}

.table .column-header-background .filler {
	-fx-background-color: #FFFFFF;
	-fx-padding: 1;
}

.list-cell:filled:selected {
	-fx-background: #FF93B0;
	-fx-background-color: #FF93B0, #FF93B0;
}

