.button {
    -fx-background-image: url('funnel.png');
    -fx-background-repeat: no-repeat;   
    -fx-background-position: center center;
    -fx-background-color: transparent, transparent, transparent, transparent !important;
    -fx-scale-y: 0.75;
    -fx-scale-x: 0.75;
    -fx-padding: 2 8 2 8 !important;
}
.button:hover {
	-fx-background-color: transparent, -fx-outer-border, -fx-inner-border, transparent !important;
    -fx-background-image: url('funnel-pencil.png');
}
.button.active {
    -fx-background-image: url('funnel-selected.png');
}
.button.active:hover {
    -fx-background-image: url('funnel-pencil-selected.png');
}
.button:focused {
	-fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color !important;
    -fx-background-insets: 0, 0, 1, 1;
}